@import "tailwindcss";

@theme {
    --color-brand-blue: #003BE2;
    --color-dark-gray: #242528;
    --color-light-gray: #82868E;
    --color-lightest-gray: #F5F5F6;
    --color-electric-lime: #CBFC01;
    --color-gray-white: #E5E6E8;
}

body {
    /* background-color: #003be2; */
    color: #242528;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

@media (min-width: 2560px) {
    body {
        zoom: 1.5;
    }
}